* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  min-height: 100vh;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #d32f2f;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 500;
}

.login-btn {
  background: black;
  color: white;
  border-radius: 20px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 70px);
  padding: 0 80px;
}

.hero-left {
  flex: 1;
}

.hero-left h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-left p {
  color: #555;
  line-height: 1.6;
  max-width: 500px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-right img {
  height: 420px;
  object-fit: contain;
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  font-family: "Segoe UI", sans-serif;
  height: "100vh";
    width: "100vw";
}

/* Left Image Section */
.login-image {
  flex: 1;
  background-image: url("https://www.designopedia.in/wp-content/uploads/2019/11/Dental-Clinic-Dr.Ameen-3-1024x650.jpg");
  background-Size: "cover";
      background-Position: "center";
      min-Height: "100vh";
      display: "flex";
      justify-Content: "center";
      align-Items: "center";
}

.login-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.login-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  z-index: 2;
}

/* Right Form Section */
.login-form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.login-box {
  width: 360px;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


